root = true # чтобы не действовали эти правила на этот файл

[*] # чтобы эти правила действовали на все файлы проекта
indent_style = space # отступ ставится с помощью пробелов
indent_size = 2 # изначальный отступ два пробела
end_of_line = lf # параметр указывает символ конца строки
charset = utf-8 # кодировка
trim_trailing_whitespace = true # Параметр сообщает нужно удалить ненужные пробелы в конце строки
insert_final_newline = true # чтобы добалвять пустую строку в конце файла
