body {
    font-family: var(--font-family);
    background: var(--light-gray);
}

.container {
    max-width: 1170px;
    margin: 0 auto;
}

.section-title {
    font-size: 40px;
    color: var(--dark-gray);
    margin-left: 40px;
    margin-bottom: 20px;
}

.global-button {
    border: 1px solid var(--secondary);
    border-radius: 10px;
    color: var(--secondary);
    transition: 0.5s;
}

.global-button:hover {
    background-color: var(--secondary);
    color: var(--white);
}

.global-button:active {
    background-color: var(--tertiary);
    border: 1px solid var(--tertiary);
}
