.header {}

/* HEADER TOP */

.header__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    gap: 40px;
}

.header__logo-link {
    display: flex;
}

.header__phone-link {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
    color: var(--medium-gray);
    padding: 5px 5px 0 5px;
    transition: 0.5s;
}

.header__phone-link:hover {
    color: var(--secondary);
}

.header__phone-link:focus {
    outline: 1px solid var(--secondary);
}

.header__phone-link:active {
    color: var(--tertiary);
}

.header__account-link {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 5px;
    transition: 0.5s;
}

.header__acсount-icon {
    color: var(--secondary);
    transition: 0.5s;
}

.header__account-text {
    color: var(--secondary);
    transition: 0.5s;
}

.header__account-link:hover .header__account-text,
.header__account-link:hover .header__acount-icon {
    color: var(--primary);
}

.header__account-link:focus {
    outline: 1px solid var(--secondary);
}

.header__account-link:active .header__account-text,
.header__account-link:active .header__acount-icon {
    color: var(--tertiary);
}

/* HEADER BOTTOM */

.header__bottom {
    border-radius: 15px;
    background: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 45px;
}

.header__list {
    display: flex;
    gap: 45px;
}

.header__link {
    color: var(--medium-gray);
    transition: 0.5s;
    padding: 5px 5px 3px 5px;
}

.header__link:hover {
    color: var(--secondary)
}

.header__link:focus {
    outline: 1px solid var(--secondary);
}

.header__link:active {
    color: var(--tertiary);
}

.header__buttons {
    display: flex;
    gap: 40px;
}

.header__button-tour {
    padding: 12px 26px;
}

.header__button-call_back {
    padding: 12px 33.5px;
}
